<% sliders = Slider.all %>
<script>
window.slideCount = <%= sliders.count %>;

function pageTo(page){
  var p = $("#"+page);
  var offset = p.offset();
  console.log(offset.top);
  $("html, body").animate({
          scrollTop: offset.top-100+"px"
      }, 1000);

  return false;
}

$(window).scroll(function(){
  var p = $("#home");
  var offset = p.offset();

      if ($(this).scrollTop() > offset.top/1.5) {
          $('.buttonUp').addClass('yes');
      } else {
          $('.buttonUp').removeClass('yes');
      }

      if ($(this).scrollTop() > 50) {
          $('.header').addClass('small');
      } else {
          $('.header').removeClass('small');
      }
});

function bigMenu(it){
  console.log('OpenMenu');
  $('.bigMenu').toggleClass('active');
  $('.menuiBlock').toggleClass('active');
  return false;
}

function bigMenu(it){
  console.log('OpenMenu');
  $('.bigMenu').toggleClass('active');
  $('.menuiBlock').toggleClass('active');
  return false;
}

</script>
<header class="header animated fadeInDown">
  <nav class="menu">
    <a href="/" class="logoBlock <%= @hide_logo %>"><b>Solid</b> Creators</a><div class="iteamPr <%= @hide_logo %>"></div>
    <a href="#service" class="iteam" onclick="return pageTo('service');">Услуги</a>
    <a href="#projects" class="iteam" onclick="return pageTo('projects');">Работы</a>
    <a href="#contacts" class="iteam" onclick="return pageTo('contacts');">Контакты</a>
    <a href="#order" class="orderB" onclick="return pageTo('contacts');">Заказать звонок</a>
    <a class="menuiBlock" href="/contacts" onclick="return bigMenu(this);"><span></span></a>
  </nav>
</header>

<section id="home" class="contentpage animated fadeIn">
  <div class="slider">
    <ul class="sliderwrapper">
      <% sliders.each do |slide| %>
      <li class="slide">
        <div class="slideContent">
          <div class="slideContent-box">
          <div class="textBox">
            <div class="word1"><%= slide.word1.try(:html_safe) if slide.word1 %></div>
            <div class="word2"><%= slide.word2.try(:html_safe) if slide.word2 %></div>
            <p><%= slide.description.try(:html_safe) if slide.description %></p>
          </div>
          </div>
        </div>
        <img src="<%= slide.gallery.url %>" class="sasha-skazal-tak-sdelat"/>
      </li>
      <% end %>
    </ul>
    <div class="prev-btn <%= @hidden_btn_slider %>"></div>
    <div class="next-btn <%= @hidden_btn_slider %>"></div>
  </div>
</section>

<section id="service" class="contentpage">
  <div class="contentpage_box">
    <div class="contentpage_box_flex">
      <div class="headerLine">
        <div class="headerLineGeneral">услуги</div>
        <div class="headerLineSmall"><%= @services.try(:html_safe) %></div>
      </div>
      <% Product.all.each do |product| %>
      <div class="serviceIteam" style="background:url('<%= product.gallery.url %>') no-repeat left top;">
        <h3><%= product.title %></h3>
        <p><%= product.description.try(:html_safe) if product.description %></p>
      </div>
      <% end %>
      <a class="serviceIteam button" onclick="return pageTo('order');" href="#order">
        Заказать
      </a>
    </div>
  </div>
</section>

<section id="order" class="contentpage <%= 'minimal' unless @hide_order == '' %>">
  <div class="contentpage_box">
    <div class="contentpage_box_flex">
      <div class="headerLineCenter <%= @hide_order %>">Сделать заказ</div>
      <p><%= @makeorder.try(:html_safe) %></p>
      <%= form_with(model: @message, id: 'form1', class: @hide_order ) do |form| %>
        <% if @message.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

            <ul>
            <% @message.errors.full_messages.each do |message| %>
              <li><%= @message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div style="overflow:hidden">
          <%= form.text_field :title, value:  "Заказ",  type: 'hidden' %>
          <%= form.text_field :name,  placeholder:  "Ваше имя",  class: "typeLine" %>
          <%= form.text_field :phone, placeholder: "+7 ___",     class: "typeLine" %>
          <%= form.text_field :slave, placeholder: "Какая услуга Вас интересует?", class: "typeLine" %>
        </div>
        <input type="submit" class="buttonA" value="Отправить"> 
      <% end %>
      <small class="politics  <%= @hide_order %>">При отправке формы Вы соглашаетесь на обработку персональных данных</small>
    </div>
  </div>
</section>

<section id="projects" class="contentpage">
  <div class="contentpage_box">
    <div class="contentpage_box_flex">
      <div class="headerLine">
        <div class="headerLineGeneral">Работы</div>
        <div class="headerLineSmall"><%= @projects.try(:html_safe) %></div>
      </div>
      <% Project.all.each do |project| %>
      <div class="projectIteam">
        <h3><%= project.title.upcase %></h3>
        <p><%= project.description.try(:html_safe) if project.description %></p>
        <div class="image" style="background-image:url('<%= project.gallery.url %>')"></div>
      </div>
      <% end %>
    </div>
  </div>
</section>

<section id="contacts" class="contentpage">
  <div class="contentpage_box">
    <div class="contentpage_box_flex">
      <div class="headerLineCenter">Контакты</div>
      <p><%= @contacts.try(:html_safe) %></p>
      <div style="overflow:hidden;margin:0 0 20px 0;">
        <div class="phone"><%= @phone.try(:html_safe) %></div>
        <div class="mail"><%= @email.try(:html_safe) %></div>
        <div class="place"><%= @place.try(:html_safe) %></div>
      </div>
      <%= @map.try(:html_safe) %>
    </div>
    <div class="contentpage_box_flex">
      <div class="headerLineCenter">ОБРАТНАЯ СВЯЗЬ</div>
      <%= form_with(model: @message, id: 'form2' ) do |form| %>
        <% if @message.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

            <ul>
            <% @message.errors.full_messages.each do |message| %>
              <li><%= @message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div style="overflow:hidden">
          <%= form.text_field :title, value:  "Обратная связь",  class: "typeLine", type: 'hidden' %>
          <%= form.text_field :name,  placeholder:  "Ваше имя",  class: "typeLine" %>
          <%= form.text_field :phone, placeholder: "+7 ___",     class: "typeLine" %>
          <!-- <%= form.text_field :slave, placeholder: "Тема вопроса", class: "typeLine" %> -->
          <%= form.text_area  :description, placeholder: "Опишите подробности обращения", class: "typeTexta" %>
        </div>

        <input type="submit" class="buttonA" value="Отправить"> 
      <% end %>

      <small>При отправке формы Вы соглашаетесь на обработку персональных данных</small>
    </div>
  </div>
</section>

<footer>
  <div class="name">Solid Creators</div>
  Все права защищены &copy; <%= Date.today.year %>
</footer>

<div class="bigMenu">
  <a class="bigMenu_list order" href="#order" onclick="pageTo('contacts');">Заказать звонок</a>
    <a class="bigMenu_list" href="#service" onclick="pageTo('service');">Услуги</a>
    <a class="bigMenu_list" href="#projects" onclick="pageTo('projects');">Работы</a>
    <a class="bigMenu_list" href="#contacts" onclick="pageTo('contacts');">Контакты</a>
</div>