<p id="notice"><%= notice %></p>

<p>
  <strong>Slider shawod:</strong>
  <%= @option.slider_shawod %>
</p>

<p>
  <strong>Slider dots:</strong>
  <%= @option.slider_dots %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
