<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :product_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description %>
  </div>

  <div class="field">
    <%= form.label :slave %>
    <%= form.text_area :slave, id: :product_slave %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :product_link %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :product_url %>
  </div>

  <div class="field">
    <%= form.label :sort %>
    <%= form.number_field :sort, id: :product_sort %>
  </div>

  <div class="field">
    <%= form.label :show %>
    <%= form.check_box :show, id: :product_show %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
